.MenubarItems {
    background: #048ac0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.menubar-logo {
    size: 10px;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    size: 20px;
    margin-left: 1rem;
}

.fab fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.menu-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.menu-links:hover {
    background-color: #191846;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.menu-links_mobile {

}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .MenubarItems {
        position: relative;
    }

    .nav-menu {
        display: block;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #048ac0;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .menu-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }
    
    .menu-links:hover{
        background-color: #191846;
        border-radius: 0;
    }

    .menubar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
}